#wrapper {
  width: 620px;
  margin: 0 auto; }
  #wrapper h1 {
	width: 100%;
	font: 24px/32px "Arial", Arial, Sans-Serif;
	text-align: center; }

#inputs {
  height: 332px; }
  #inputs #text, #inputs #image {
	width: 276px;
	height: 276px;
	padding: 10px;
	resize: none;
	background: transparent none no-repeat center;
	background-size: contain;
	outline: 0; }
  #inputs #text {
	border: 2px solid #000;
	float: left; }
	#inputs #text::-webkit-input-placeholder, #inputs #text:-moz-placeholder, #inputs #text::-moz-placeholder, #inputs #text:-ms-input-placeholder {
	  color: #aaa; }
  #inputs #image {
	border: 2px dashed #000;
	color: #aaa;
	font: 16px/276px "Arial", Arial, Sans-Serif;
	text-align: center;
	float: right; }
	#inputs #image.dragover {
	  border-color: red;
	  color: red; }
	#inputs #image[style] {
	  font: 0/0 "Arial", Arial, Sans-Serif;
	  text-indent: -9999px; }

#submits {
  text-align: center; }
  #submits button, #submits #download {
	width: 128px;
	height: 32px;
	padding: 0;
	border: 1px solid #000;
	outline: 0;
	font: 12px/32px "Arial", Arial, Sans-Serif;
	text-decoration: none;
	background: transparent;
	display: inline-block;
	cursor: pointer; }
	#submits button:hover, #submits #download:hover {
	  text-decoration: underline; }
  #submits #download {
	height: 30px;
	color: red;
	border-color: red;
	display: none; }
	#submits #download.show {
	  display: inline-block; }
